PORT=8765
LOG_LEVEL=INFO

DATABASE_URL=postgres://user:password@localhost:7599/crudgo?sslmode=disable
RABBITMQ_URL=amqp://user:password@localhost:5672/

# chave gerada apenas para teste. O config.env não versionado terá a chave real
CRYPTO_KEY=HPXp85KpuWI7U8wE3iAVqp+IYK8COXmK